* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: "100vh";
}
a {
  color: #CEA9F7
}

a:visited {
  color: #8837B3
}

/* Customize the scrollbar appearance */
.scrollable-container {
  /* Add overflow: auto to allow for scrollbars */
  overflow: auto;
}

/* Customize the scrollbar appearance */
.scrollable-container::-webkit-scrollbar {
  width: 6px;
  height: 6px; /* Height of the scrollbar */
  background-color: transparent;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 5px;
  width: 50px; /* Width of the scrollbar thumb */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

.scrollable-container::-webkit-scrollbar-thumb:active {
  background-color: #888888;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px; /* Height of the scrollbar */
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 5px;
  width: 50px; /* Width of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

::-webkit-scrollbar-thumb:active {
  background-color: #888888;
}

/* Platforms panel styles */
.selectedPlatform {
  background-color: #f0f0f0 !important;
}

.selectedContent {
  background-color: #ffffff !important;
}

/* Workspace Preview styles */
.selected {
  stroke-width: "0.5px";
  stroke: #3b3939;
  transition-duration: 400ms;
  transition-property: stroke;
}

.wellSelected{
  stroke: #252525 !important;
  stroke-width: 1 !important;
  stroke-dasharray: 1 1;
}

.filled{
  fill-opacity: 0.7 !important;
}

.colony{
  fill-opacity: 0.7;
  stroke: #ffffff;
  stroke-width: 0.5px;
  fill: #ffffff;
  outline: none;
  cursor: pointer;
}

.platform {
  outline: none;
}

.petri {
  outline: none
}

.selectedColony{
  stroke: #252525 !important;
  outline: none;
  
}

.robotPosition{
  stroke: black;
  fill: transparent;
}


